body{
    background-color: rgba(7, 165, 213,0.6 );
    ;
}
h1{  border-left-style: solid;
    color: rgb(2, 0, 3);
    border-color: crimson ;
    border-width: 6px;
    width: 400px;
    text-shadow: 1px 1px 10px rgba(6, 215, 9, 0.592);
    margin-left:100px;
    
   
}
h2{
    border: 7px solid rgba(149, 227, 33,.8) ;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(123, 3, 234,.3);
}
p{
    text-indent:35px;

}
h1:hover{
    background-color: rgb(192, 191, 190);
    cursor:pointer;
}